<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login App</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="form-container form-container-new">
        <div class="login-conteiner">
            <h3>Registro</h3>

            <form action="">
                <p>
                    <label for="name">Username</label>
                    <input type="text" name="username" id="username" placeholder="Tu nombre de Usuario">
                </p>
                <p>
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" placeholder="Tu nombre">
                </p>
                <p>
                    <label for="name">Apellido</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Tu apellido">
                </p>

                <p>
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" placeholder="Tu Contraseña">
                </p>

                <p>
                    <label for="password">Confirm Password</label>
                    <input type="text" name="password" id="password" placeholder="Tu Contraseña">
                </p>

                <p>
                    <label for="name">Email</label>
                    <input type="email" name="email" id="email" placeholder="Tu E-mail">
                </p>
                
                <p>
                    <label for="edad">Edad</label>
                    <input type="number" name="edad" id="edad" placeholder="Tu Edad" min="10" value="10" max="90">
                </p>


                <p>
                    <input type="submit" value="Sign Up" class="btn btn-login">
                </p>

                <a class="btn regresar" href="index.html">Regresar</a>
            </form>
        </div>
        <div class="welcome-screen-container-new">
        </div>
    </div>
</body>
</html>